# Secrets
.env
.env.local
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/
ENV/

# Tools / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Misc
*.log
.cache/
dist/
build/
*.egg-info/
